<div class="div1">
  <div class="div3">
    <div class="container"
    [@divCronometro]="state">
      <h1 class="relogio">Cronômetro</h1>
      <div class="div2">
        <h1>
          {{ addZero(dateTime.getHours()) }}:{{ addZero(dateTime.getMinutes()) }}:{{ addZero(dateTime.getSeconds()) }}
        </h1>
      </div>
      <div class="botao" [ngSwitch]="botOpcao">
        <button *ngSwitchCase="'iniciar'" class="btn btn-success" (click)="iniciarCronometro()"> Iniciar  </button>
        <button *ngSwitchCase="'iniciado'" class="btn btn-primary" (click)="pausarCronometro()"> Pausar  </button>
        <button *ngSwitchCase="'pausado'" class="btn btn-success" (click)="retomarCronometro()"> Retomar  </button>
        <button *ngSwitchCase="'pausado'" class="btn btn-danger" (click)="zerarCronometro()">  Zerar   </button>
      </div>
    </div>
  </div>
</div>
